@charset "US-ASCII";



.sig-block {
    fill: rgb(255,248,226);
    stroke-width: 1;
    stroke: red;
}

.sig-ink {
    stroke-width: 1;
    stroke: red;
    fill: none;
}

.clr-sig {
    stroke: blue;
    font-size: 24;
}
